

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration-line: none;
    color: whitesmoke;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 0 1%;
    background-color: #1e1d2a;
    z-index: 1000000;
    margin-bottom: 50px;

    /// classes inside navbar

    .links {
        position: relative;
        width: 30%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: whitesmoke;

        button {
            width: 60px;
            height: 50%;
            cursor: pointer;
            color: whitesmoke;
            border-radius: 25%;
            font-weight: bold;
            font-size: large;
            ///
        }
        .auth {
            position: absolute;
            padding: 20px;
            width: 450px;
            top: 80px;
            right: 0px;
            background-color: #1e1d2a;
            z-index: 10000;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .link {
                    font-size: 1em;
                    margin: 1em 0;
                    padding: 0.3em;
                    color: whitesmoke;
                }
            }
            .categories-link {
                visibility: hidden;
            }
            .search {
                color: black;
            }
        }
    }

    ///////////////////////////////////////////////////////
    .logo {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 5px;
        ///
        .Whiscrashaw {
            width: 90%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 25%;
            font-size: 1.5em;
            color: whitesmoke;
        }


    }
    ////////////////////////////////
    .categories {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
    }
}
///////// navbar media query
@media screen and (max-width: 780px) {
    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .logo {
            width: 50%;
            .Whiscrashaw {
                font-size: 1em;
                color: whitesmoke;
            }
        }
        .categories {
            display: none;
        }
        .links {
            .auth {
                width: 300px;
                .categories-link {
                    visibility: visible;
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .logo {
            .Whiscrashaw {
                font-size: 1em;
                color: whitesmoke;
            }
            img {
                display: none;
            }
        }
        .categories {
            display: none;
        }

        .links {
            .auth {
                width: 250px;

                .categories-link {
                    visibility: visible;
                }
            }
        }
    }
}
/// main sections

.main-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    z-index: 0;
    .slider {
        margin-top: 2em;
        width: 80vw;
        height: 500px;
        z-index: 0;
        padding: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: end;
        background-color: #1e1d2a;

        .box {
            img {
                width: 80vw;
                height: 80vw;
            }
        }
    }
    @media screen and (max-width: 780px) {
        .slider {
            display: none;
            margin: 0;
        }
    }
    //////////////////////////////////////
    .articles {
        // article container
        margin-top: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 0;
        letter-spacing: 2px;

        .article-card {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 360px;
            min-width: 250px;
           color: #fff;
            height: 500px;
            margin: 1.3em;
            border-radius: 10px;
            background-color: #1e1d2a;

            img {
                width: 95%;
                height: 40%;
                border-radius: 5%;
            }
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 95%;
                height: 20%;
                overflow-wrap: anywhere;
                font-size: 1.2em;
                font-weight: bold;
            }

            /* CSS */
            .button-28 {
                appearance: none;
                background-color: transparent;
                border: 2px solid #fff;
                border-radius: 15px;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                margin: 0;
                min-height: 60px;
                min-width: 0;
                padding: 16px 24px;
                text-align: center;
                transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
                touch-action: manipulation;
                width: 80%;
                will-change: transform;
            }
            .button-28:hover {
                color: #1e1d2a;
                background-color: #e16c06;
                box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                transform: translateY(-2px);
            }
        }

        @media screen and (max-width: 600px) {
            .article-card {
                width: 90vw;
                height: 380px;
            }
        }
    }
}
///////////// article-page
.article-page {
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    padding: 0 1%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .article-container {
        width: 95%;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .articleInfo {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            div {
                width: 80%;
                font-size: medium;
                font-weight: bold;
                text-align: start;
            }
        }
        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 700px;
            img {
                width: 40rem;
                height: 600px;
            }
        }
        .title {
            align-self: flex-start;
            margin: 20px 0;
        }
        .content {
            align-self: flex-start;
            word-spacing: 2px;
            font-size: large;
            font-weight: bold;
            width: 80%;
            line-height: 2.2rem;
        }
        @media screen and (max-width: 600px) {
            .content {
                width: 70%;
            }
        }
    }
}
/////// footer

footer {
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #1e1d2a;

    .collect {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .aboutme {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            color: white;

            .title {
                width: 100%;
                height: 20%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                button {
                    color: white;
                    border: 1px solid #e16c06;
                    border-radius: 10px;
                    padding: 10px;
                    margin: 10px 0;
                }
            }
            .content {
                padding: 1%;
                background-color: rgb(55, 54, 54);
                color: white;
                width: 100%;
                height: auto;
                border-radius: 10px;
                text-align: center;
            }
        }
        .privcy-policy {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            button {
                color: white;
                border: 1px solid #e16c06;
                border-radius: 10px;
                padding: 10px;
                margin: 10px 0;
            }
            .privcy {
                color: white;
                padding: 14px;
                background-color: rgb(55, 54, 54);
                border-radius: 10px;
                height: 300px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align: justify;
            }
        }
    }
    .contactme {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
            margin: 35px 0;
            color: white;
            border: #e16c06 2px solid;
            padding: 20px;
            border-radius: 5px;
        }
    }
    .social {
        padding: 10px;
        width: 90%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin: 0 20px;
        }
    }
}
@media screen and (max-width: 750px) {
    footer {
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .collect {
            .aboutme {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
            .privcy-policy {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                //  border: 1px solid whitesmoke;
                button {
                    color: #e16c06;
                    border: 1px solid #e16c06;
                    border-radius: 10px;
                    padding: 5px;
                    margin: 10px 0;
                }

                .privcy {
                    width: auto;
                    text-align: center;
                }
            }
        }

        .contactme {
            margin-top: 15px;
            textarea {
                width: 90%;
            }
        }
    }
}
